In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('bmh')

df = pd.read_csv('week7_remove_stopwords_comments_likes2.csv')

In [17]:
df.sample(5)

,Link,Title,Comment,Likes
785,https://www.youtube.com/watch?v=3qTZnwRbFY0&pp...,This Is Why Costco Only Charges $5 For A Rotis...,"GMO,Food",2
301,https://www.youtube.com/watch?v=3qTZnwRbFY0&pp...,This Is Why Costco Only Charges $5 For A Rotis...,"get,boneless,skinless,chicken,breast,$2/lb,Wal...",NaN
2631,https://www.youtube.com/watch?v=2QYJQDeOWNA&pp...,Eating A COSTCO ROTISSERIE CHICKEN In The Car,"Our,wife's,English,point!!",NaN
2364,https://www.youtube.com/watch?v=gkc6DBUdfr8&pp...,Hauling In Big Savings At The Dollar Tree!,"Great,use,gift,baskets!",NaN
105,https://www.youtube.com/watch?v=3qTZnwRbFY0&pp...,This Is Why Costco Only Charges $5 For A Rotis...,"I,recommend,going,Wegmans,/,Publix,they're,are...",NaN

In [37]:
df.columns

Index(['Comment', 'Likes'], dtype='object')

In [40]:
review_df = df[['Likes','Comment']]
review_df = review_df[review_df['Comment'] != 'neutral']
print(review_df.shape)
review_df.head(5)

(3721, 2)

  Likes                                            Comment
0   727                   Are,fan,Costco,chicken?,Why,not?
1  1.2K  My,mom,went,Costco,rotisserie,chicken,came,liv...
2    40  I,feel,like,Costco,played,system.,They,able,pr...
3    22  Costco,right.,I,planned,buying,$12,make,wipes,...
4    19  Before,I,retired,regular,work,,getting,hot,,fr...

In [43]:
df.corr()

/var/folders/98/w08jp2wx2bs00t4_b3lhk4qw0000gn/T/ipykernel_78690/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

Empty DataFrame
Columns: []
Index: []

In [41]:
d = df.corr(method='pearson', min_periods=1, numeric_only=True)

In [42]:
print(d)

Empty DataFrame
Columns: []
Index: []